{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div id="homepage-header">
        <div class="row">
            <div class="col-7 col-md-6">
            </div>
            <div class="col-12">
                <div class="header-content ml-auto">
                    <div class="header-text">
                        <h1 id="home-header-h1">Fancy Day Design</h1>
                        <p id="home-header-line">'A special moment deserves a Fancy Day Design'</p>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

