<footer>
    <div id="footer">
       <!-- Footer Section -->
    <footer class="container-fluid">
        <div class="container">
        <div class="footer-info">
            <div class="row">
                <div class="col-12 col-md-4 contact">
                    <h6 class="title">Site:</h6>
                    <a href="{% url 'products' %}" class="footer-link">Shop</a>
                    <a href="" class="footer-link">About</a>
                    <a href="" class="footer-link">Blog</a>
                    <a href="" class="footer-link mb-15-mob">Contact</a>
                </div>
                <div class="col-12 col-md-4 download">
                    <h6 class="title">© Fancy Day Design 2021 </h6>
                        <p class="title">Hoofddorp</p>
                        <p class="title">The Netherlands</p>
                      
                </div>
                <div class="col-12 col-md-4 social-media">
                    <h6 class="title">Social Media:</h6>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank">
                                <i class="footer-link fab fa-facebook" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank">
                                <i class="footer-link fab fa-instagram" aria-hidden="true"></i>
                                    <span class="sr-only">Instagram</span></a></li>
                            <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank">
                                <i class="footer-link fab fa-twitter" aria-hidden="true"></i>
                                    <span class="sr-only">Twitter</span></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    </footer>
    </div>
</footer>