{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">About</h2>
                        <hr class="w-40 mb-1">
                </div>
            </div>
    <!--- About image --->
        <div class="container">
            <div class="row align-items-center my-4">
                <div class="col-12 col-md-6">
                    <div class="image-container my-4">
                        <img src="/media/about.jpg" alt="about-photo" width="490" height="500" class="about-image">
                </div>
            </div>
    <!--- About text container --->
        <div class="col-12 col-md-12 col-lg-6">
            <div class="about-details-container mb-5 mt-md-5">
                <h2 class="about-heading">My Story</h2>
                    <p class="about-text">Hello, my name is Shakira Lacroes, the face behind Fancy Day Design. As a young girl I regularly did photo shoots with my sisters. Everything had to be perfect, not only our clothes but also the background had to be in the right style. Even then I knew my awareness of decorating was growing and when it would stand out in a photo. <br/>

                    Before I started decorating, I was active in youth care for many years. I've always enjoyed doing this. In all those years I have organized and decorated various birthdays, baby showers for almost everyone in my immediate environment. Because of my passion for decorating, it was a logical step to do this professionally as a professional party stylist. At the moment I'm providing parties that are unforgettable.<br/>

                    I have already successfully contributed to many events. I am proud of the good reviews and if the customer is happy, my goal has been achieved! Also, there are already thousands of people who like and follow me on Instagram.
                    <br/>

                    As a customer you expect the highest level of quality from Fancy Day Design, together with the most pampering beautiful and unforgettable party experience. With wisdom and experience comes an eye for detail. It is this expectation of luxury that forms the basis of my work as a party stylist.<br/>
                </p>
            </div>
        </div>
    </div>
    
    <!--- Header --->
        <div class="container-fluid div-section">
            <div class="container hp-section-3-heading mt-5">
                    <img src="/media/logo_small.jpg" width="200" height="200" alt="logo" class="center-3">
                        <h2 class="home-decor">Some examples</h2>
            </div>
            
            <div class="row hp-section-3">
                <div class="container">
                    <!--- images --->
                    <div class="row product-card-row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="div-product-card">
                                <div class="div-product-card-img">
                                    <a target="_blank" href="/media/balloon_0.jpg"><img src="/media/balloon_0.jpg" alt="" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="div-product-card">
                                <div class="div-product-card-img">
                                    <a target="_blank" href="/media/balloon_0.jpg"><img src="/media/balloon_0.jpg" alt="" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="div-product-card">
                                <div class="div-product-card-img">
                                    <a target="_blank" href="/media/balloon_0.jpg"><img src="/media/balloon_0.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <div class="row product-card-row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="div-product-card">
                                <div class="div-product-card-img">
                                    <a target="_blank" href="/media/balloon_0.jpg"><img src="/media/balloon_0.jpg" alt="" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="div-product-card">
                                <div class="div-product-card-img">
                                    <a target="_blank" href="/media/balloon_0.jpg"><img src="/media/balloon_0.jpg" alt="" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="div-product-card">
                                <div class="div-product-card-img">
                                    <a target="_blank" href="/media/balloon_0.jpg"><img src="/media/balloon_0.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>  

</div>
{% endblock %}